.home-gif {
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 54px;
	}
}

.btn {
    padding: 8px 20px;
	margin-top: 200px;
    color: #B026FF;
    border: 2px solid #B026FF;

    &:hover {
        color: #47C7FA;
        border: 2px solid #47C7FA;
    }
}

.info-title2{
	margin: 0 !important;
}
